@use "sass:math";

// Defaults
$base_font_size: 16px;

// Get the result of a mathematic division
// @function div
// @param    $dividend	{Number} is being divided
// @param    $divisor	{Number} divides the dividend
// @return   {Number}	result of divisuin
@function div($dividend, $divisor) {
	@return math.div($dividend, $divisor);
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	&:after {
		content: ".";
		clear: both;
		display: block;
		visibility: hidden;
		height: 0px;
	}
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


// mixin for breakpoints
@mixin bp($breakpoint) {

	@if $breakpoint == medium {
		@media (min-width: div(768px, 16px) + 0em) {
			@content;
		}
	} @else if $breakpoint == large {
		@media (min-width: div(980px, 16px) + 0em) {
			@content;
		}
	} @else {
		@media (min-width: div($breakpoint, 16px) + 0em) {
			@content;
		}
	}
}

@mixin transition(
	$transition-property: all,
	$transition-duration: 0.2s,
	$transition-timing-function: ease-in-out) {
	-webkit-transition: $transition-property $transition-duration $transition-timing-function;
	   -moz-transition: $transition-property $transition-duration $transition-timing-function;
	     -o-transition: $transition-property $transition-duration $transition-timing-function;
	        transition: $transition-property $transition-duration $transition-timing-function;
}


// Usage: rem(16px);
@function rem( $size, $base_font_size: $base_font_size ) {
	@return #{div($size, $base_font_size)}rem;
}

// Usage: em(16px);
@function em( $size, $base_font_size: $base_font_size ) {
	@return #{div($size, $base_font_size)}em;
}
